fastapi
uvicorn 
langchain 
google-generativeai
setuptools 

# pip install "unstructured==0.10.30" "pdfminer.six==20221105"
sec-edgar-downloader
unstructured[pdf,html]
langchain
langgraph
langchain-openai
langchain-google-genai
qdrant-client
fastembed
sentence-transformers
langsmith
ragas
tavily-python
python-dotenv
pandas
tqdm
langchain-huggingface
dotenv
PyMuPDF
PyPDF2