fastapi
uvicorn 
langchain 
google-generativeai
setuptools 

# pip install "unstructured==0.10.30" "pdfminer.six==20221105"
langchain
langgraph
langchain-core
langchain-community
chromadb
langchain_chroma 
pydantic
ipykernel
python-dotenv
langchain-google-genai
langchain-groq
numpy<2.0.0